<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
      integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN"
      crossorigin="anonymous">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List of schedule</title>
</head>
<body>
<div class="m-4">
    <h4>List of schedule</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Level</th>
            <th>Day</th>
            <th sec:authorize="hasAnyAuthority('ADMIN','CLIENT','CLIENT_GOOGLE')">Start-End Time</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-light" th:each="schedule:${schedules}">


            <td th:text="${schedule.levels}"></td>
            <td th:text="${schedule.days}"></td>
            <td th:text="${schedule.start_end_time}"></td>
            <td>

                <a sec:authorize="hasAnyAuthority('ADMIN','CLIENT','CLIENT_GOOGLE')"
                   th:href="@{/schedule-singup/{level}/{id}/{id_schedule}(id_schedule=${schedule.id},id=${user.id},
               level=${schedule.levels})}"
                   class="btn btn-success">Sing Up
                </a>

            </td>
        </tr>
        </tbody>
        <tbody>
    </table>

    <a th:href="@{/hello}" class="btn btn-info">Back
    </a>
</div>
</body>
</html>