<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
          integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/signin.css}"/>

    <title>Sign In</title>

</head>
<body class="text-center row">


<form class="form-signin" th:action="@{/login}" method="post">
<!--    <div th:if="${principalUser}">-->
<!--        <div class="alert  alert-dismissible alert-success">-->
<!--            <p th:text="${principalUser}"></p>-->
<!--        </div>-->
<!--    </div>-->
    <div th:if="${messageSuccess}">
        <div class="alert  alert-dismissible alert-success">
            <p th:text="${messageSuccess}"></p>
        </div>
    </div>
    </div>
    <div th:if="${messageDanger}">
        <div class="alert  alert-dismissible alert-danger">
            <p th:text="${messageDanger}"></p>
        </div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
    <label class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="username" required="" autofocus="">
    <label class="sr-only">Password</label>
    <br>
    <input type="password" name="password" class="form-control" placeholder="password" required="">
    <p class="mt-5 mb-3 text-muted"></p>
    <h6 class="h6 mb-3 font-weight-normal">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
    </h6>
    <h6 class="h6 mb-3 font-weight-normal">
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
    </h6>
    <h6 class="h6 mb-3 font-weight-normal">
        Remember Me:
        <td><input type="checkbox" name="remember-me"/></td>
    </h6>

    <div class="list-group ">
        <a class="btn btn-outline-danger" th:href="@{/forgot-page}">
            Forgot password</a>
    </div>

    <div class="list-group">
        <button class="list-group-item list-group-item-action active" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted"></p>
    </div>
<!--    <div class="btn btn-outline-dark">-->
        <a class="btn btn-warning btn-lg" th:href="@{/login/google}" >
            Use Google Account for registration </a>
        <p class="mt-5 mb-3 text-muted"></p>
<!--    </div>-->
    <div class="list-group">
        <a th:href="@{/registration}" class="list-group-item list-group-item-action active">
            New user registration</a>
        <p class="mt-5 mb-3 text-muted"></p>
    </div>


    <div class="list-group">
        <a th:href="@{/}" class="list-group-item list-group-item-action active">Back</a>
    </div>
</form>
</body>