<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css"
          integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG"
          crossorigin="anonymous">
</head>

<body class="bg-light">
<div class="m-4">
    <div class="py-5 text-center">
        <div class="mt-5">

            <h2>Hi, <a th:text="${user.first_name}"/>!</h2>
        </div>
    </div>

    <div th:if="${errorPassword}">
        <div class="alert alert-dismissible alert-danger">
            <strong>Error!</strong>
            <p th:text="${errorPassword}"></p>
        </div>
    </div>
    <div th:if="${errorUsername}">
        <div class="alert alert-dismissible alert-danger">
            <strong>Error!</strong>
            <p th:text="${errorUsername}"></p>
        </div>
    </div>
    <div th:if="${levelOrRoleError}">
        <div class="alert alert-dismissible alert-danger">
            <strong>Error!</strong>
            <p th:text="${levelOrRoleError}"></p>
        </div>
    </div>

    <form action="#" th:action="@{/user-edit/{id}(id=${user.id})}" th:object="${user}" method="post">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>First Name</th>
                <th>last Name</th>
                <th>Birthday</th>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light">
                <td>

                    <input type="text" class="form-control" name="first_name" placeholder=""
                           th:value="${user.first_name}" required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('first_name')}"
                         th:errors="*{first_name}">First Name Error
                    </div>
                </td>

                <td>
                    <input type="text" name="last_name" th:field="${user.last_name}" class="form-control"
                           placeholder="" required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('last_name')}"
                         th:errors="*{last_name}">Last Name Error
                    </div>
                </td>
                <td>
                    <input type="date" name="birthday" th:value="${user.birthday}">
                </td>
                <td>
                    <input type="text" name="country" th:value="${user.country}" class="form-control"
                           placeholder="" required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('country')}"
                         th:errors="*{country}">Country Error
                    </div>
                </td>

                <td>
                    <input type="text" name="city" th:value="${user.city}" class="form-control"
                           placeholder="" required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('city')}"
                         th:errors="*{city}">City Error
                    </div>
                </td>

                <td>
                    <input type="text" name="street" th:value="${user.street}" class="form-control" placeholder=""
                           required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('street')}"
                         th:errors="*{street}">Street Error
                    </div>
                </td>


            </tr>
            </tbody>

            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light">
                <td>
                    <input type="text" class="form-control" name="username" th:field="${user.username}" placeholder=""
                           required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('username')}"
                         th:errors="*{username}">Username Error
                    </div>
                </td>

                <td>
                    <input readonl type="text" name="email" th:value="${user.email}" class="form-control" placeholder=""
                           required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}">Email Error
                    </div>
                </td>
                <td>
                    <input readonl type="text" name="phone_number" th:value="${user.phone_number}" class="form-control"
                           placeholder="" required>
                    <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('phone_number')}"
                         th:errors="*{phone_number}">Phone Number Error
                    </div>
                </td>
                <td>
                    <input type="hidden" class="form-control" name="password" placeholder=""
                           th:value="${user.password}" required>
                </td>
            </tr>
            </tbody>

            <thead>
            <tr>
                <th>Role</th>
                <th> Now role user: <a th:text="${user.roles}"/></th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-light">
                <td th:each="role:${roles} ">
                    <label th:text="${role}"></label>
                    <input type="radio" name="roles" th:value="${role}"/> <br>
                </td>

                <td>
                    <input type="hidden" th:value="${user.gender}" name="gender" class="form-control" required>
                </td>
                <td>
                    <input readonly type="hidden" th:value="${user.active}" name="active" class="form-control" required>
                </td>

                <input readonly type="hidden" th:value="${membership}" name="membership" required>

            </tr>
            </tbody>
            <thead>
            <tr>
                <th>Level</th>
                <th>Now level user: <a th:text="${user.levels}"/></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:each="level:${levels} ">
                    <label th:text="${level}"></label>
                    <input type="radio" name="levels" th:value="${user.levels}"/> <br>
                </td>

            </tr>
            </tbody>
        </table>
        <td>
            <input readonly type="hidden" th:value="${user.id}" name="id"></td>
        <td>
            <div class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </div>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</html>
